<div class="container" id="structure">
    
  <div class="row">
    
  
    <div class="col-sm-6 right structure" style="text-align: center;">
      <h3>Bienvenue à la clinique vétérinaire 3V d'Orchamps Vennes !</h3>
      <br>
      <br>
      <br>
      <h4>Notre clinique vous accueille dans 100m² entièrement dediés à la santé et au bien-être animal et dotés d'une instrumentation de qualité.</h4>
  </div>
  <div class="col-sm-6">
    {{ partial "carousel.html" . }}
  </div>
    
  </div>

  <div class="container">

    <div class="row">

        <div class="col-md-12">

            <div style="text-align: justify;">
              <p >
                {{ .Content }}
              </p>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

</div>