<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        
        <section class="bar background-gray">
          <div class="container">
              <div class="row">
                  <h1 style="text-align:center">Bienvenue sur le site de la clinique vétérinaire 3V d'Orchamps-Vennes !</h1>
              </div>
        </section>

        
        {{ partial "features.html" . }}

        <div class="bar background-gray" style="padding: 0%;">
          <div class="container">
              <div class="row" style="display: flex;align-items: center;flex-wrap: wrap;">
                <div class="col-sm-6">
                  <p style="text-align:justify">Notre clinique vous accueille dans 100m² entièrement dediés à la santé et au bien-être animal et dotés d'une instrumentation de qualité.</p>
                  <p style="text-align:justify">Elle a été pensée pour assurer leur bien-être en réduisant au maximum leur stress. Nous disposons de 2 salles d'attente que nous avons voulues modernes, propres et accueillantes avec leurs touches de couleurs chatoyantes.</p>
                </div>
                <div class="col-sm-6" style="display: flex;align-items: flex-start;flex-direction: row-reverse;padding: 0%;">
                  <img class="img-responsive" src="/img/accueil.jpg" alt="">
                </div>
              </div>
          </div>
        </div>
        <br class="visible-sm visible-xs">
        <div class="bar background-white" style="padding: 0%;">
          <div class="container">
              <div class="row" style="display: flex;align-items: center;flex-wrap: wrap;flex-direction: row-reverse;">
                <div class="col-sm-6">
                  <p style="text-align:justify">La salle de consultation est spacieuse et lumineuse. La salle de chirurgie permet de réaliser les chirurgies de convenance et d'urgence en toute sécurité (anésthésie gazeuse).</p>
                  <p style="text-align:justify">Un chenil intérieur de 9 boxs permet les réveils confortables et sûrs après les chirurgies ou les hospitalisations lors de soins plus longs. Une chatterie de 8 boxs permet aux chats et NAC d'avoir leurs espaces au calme.</p>
                </div>
                <div class="col-sm-6" style="padding: 0%;">
                  <img class="img-responsive" src="/img/accueil1.png" alt="">
                </div>
              </div>
          </div>
        </div>
        <br class="visible-sm visible-xs">
        <div class="bar background-gray" style="padding: 0%;">
          <div class="container">
              <div class="row" style="display: flex;align-items: center;flex-wrap: wrap;">
                <div class="col-sm-6">
                  <p style="text-align:justify">Nous sommes à votre disposition pour tous les conseils et informations nécessaires à la santé de vos animaux.</p>
                  <p style="text-align:justify">Nous essaierons toujours de vous satisfaire en vous proposant les soins et les produits les plus adaptés à la santé de vos animaux. Vous pourrez toujours garder le contact après le passage dans notre clinique grâce à notre site internet et notre page Facebook.</p>                
                </div>
                <div class="col-sm-6" style="display: flex;align-items: flex-start;flex-direction: row-reverse;padding: 0%;">
                  <img class="img-responsive" src="/img/consulte.jpg" alt="">
                </div>
              </div>
          </div>
        </div>
        <br class="visible-sm visible-xs">

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
